.item-table thead {
    padding: 12px 24px;
    background: var(--header-bg-color);
    color: var(--table-header-text-color);

    border-bottom: 2px solid var(--border-color);
}

.item-table thead th {
    padding: 12px 24px;
    text-align: left;

}

.item-table tbody td {
    padding: 24px;
}

.item-table tbody tr {
    cursor: pointer;
    border-bottom: 1px solid var(--splitter-color);
}
.item-table tbody tr:hover {
    background: var(--header-bg-color);
    border-bottom: 1px solid var(--border-color);
}

.name-cell {
    color: var(--text-color);
    font-weight: 400;
}

.inn-cell, .address-cell {
    color: var(--secondary-text-color);
    font-weight: 400;
}

.address-cell {
    font-weight: 700;
}


