@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    --border-color: #D1D5DB;
    --border-error-color: #D1656B;

    --splitter-color: #E5E7EB;

    --text-color: #111827;
    --secondary-text-color: #6B7280;

    --header-bg-color: #F9FAFB;
    --table-header-text-color: #374151;

    --button-bg-color: #1A56DB;
    --hover-button-bg-color: #1547B7;

    --secondary-button-bg-color: #BADAFB;
    --secondary-hover-button-bg-color: #8DB6FB;
    --secondary-button-text-color: #1547B7;

    --spacing: 16px;
    --border-radius: 8px;
}

html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

#root {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    font-size: 14px;
}

.button {
    border-radius: 8px;
    padding: 7px 14px;
    background-color: var(--button-bg-color);
    color: white;
}

.button:hover {
    background-color: var(--hover-button-bg-color);
}

.secondary-button {
    background-color: var(--secondary-button-bg-color);
    color: var(--secondary-button-text-color);
}

.secondary-button:hover {
    background-color: var(--secondary-hover-button-bg-color);
}
